body{
    background-image: url(NuevoFondo.jpg);
    background-repeat: repeat;
    background: size 100px;
}

#menu {
    display: flex;
    justify-content: space-around;
}

#menu button {
    background-color: #a74caf;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#menu button:hover {
    background-color: #6045a0;
    transform: translateY(-3px);
}

#menu button:active {
    transform: translateY(-1px);
}

h1{
color: darkorchid;


}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#last-button-container {
    text-align: center;
}

#last-button-container button {
    background-color: #a74caf;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#last-button-container button:hover {
    background-color: #6045a0;
    transform: translateY(-3px);
}

#last-button-container button:active {
    transform: translateY(-1px);
}


.btn-home {
    background-color: #6045a0; /* Verde */
    border: none;
    color: white;
    width: 100px;
    height: 50px;
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin: 20px auto;
}

.btn-home a {
    color: white;
    text-decoration: none;
}

.btn-home:hover {
    background-color: #6045a0;
}

.btn-home:active {
    transform: translateY(2px);
}

